table {
    width: 100%;
}

.nav {
    margin-top: 1rem; 
    display: block;
    position: relative;
    min-height: 2rem;
}
i.flaticon-rubbish-bin::before, i.flaticon-rubbish-bin{
    width: 25px;
    height: 25px;
    color: red;
}
i.flaticon-add::before, i.flaticon-add{
    color: green;
    width: 25px;
    height: 25px;
}

.add {
    right: 2rem;
    margin-right:5px;
    border-radius: 5px;
    width: 5%; 
}
.mat-column-startTime{
    width: 20%;
}
.mat-column-endTime{
    width: 16%;
}
.mat-column-subject{
    width: 50%;
}
.flaticon-back.left {
    position: absolute;
    left: 1rem;
}

.flaticon-back.right {
    transform: scaleX(-1);
    position: absolute;
    right: 1rem;
}
