<div *ngIf="this.storageService.isDesktop()" class="color">
    <div class="container">
      <!-- <h1 class="title" *ngIf="!this.storageService.isDesktop()">Plannerix</h1> -->
    <h1 class="title">Групи</h1>
    </div>
</div>

<div class="group_info">
  <h4 *ngIf="this.currentGroup != undefined" class="group_name" align="left">
    {{currentGroup.group_name}}
  </h4>
  <div class="actions">
      <i (click)="addGroupEvent()" class="flaticon-add-event menuItem"></i>
      <i class="flaticon-add-user-button menuItem"></i>
  </div>

</div>




<hr style="margin: 0">
<mat-tab-group>
  <mat-tab label="Events">
    <app-group-event *ngIf="this.currentGroup != undefined" style="z-index: auto" [events]="this.currentGroup.group_events" [editable]="canEdit()"></app-group-event>
  </mat-tab>
  <!-- <mat-tab label="Files"> Content 3 </mat-tab> -->
  <mat-tab *ngIf="isOwner()" label="Members"> 
    <!-- <div *ngFor="let mem of currentGroup.members">
      {{mem}}
    </div>  -->
    <mat-list style="padding: 0" *ngFor="let mem of currentGroup.members" role="list">
      <mat-list-item class="members" role="listitem">
          <p class="member" style="float: left;">{{mem}} </p>
          <i (click)="deleteMember(mem)" style="float: right; color: red" class="delete flaticon-rubbish-bin"></i>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

<!-- <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list> -->


<!-- {{currentGroup.owner}}
<button mat-mini-fab style="background-color: #0589E8" (click)="plus()">+</button>
<button mat-mini-fab style="background-color: #0589E8" (click)="minus()" >-</button> -->