<div style="margin:0; width:100%" class="navigation container color">   

  <button class="sidebar" id="sidebar" mat-button>
    <i id="sidebar" class="flaticon-menu-button"></i>
  </button>
  <!-- <h1 class="title" >Plannerix</h1> -->
  <h1 class="title" >{{this.storageService.routeName}}</h1>
  <div class="editMode">
    <button
    class="editButton"
    (click)="this.httpService.editMode()"
    *ngIf="
    this.storageService.routeName=='График'
    "
    mat-mini-fab>
      <i *ngIf="this.httpService.edit==false" class="flaticon-edit-1"></i>
      <i *ngIf="this.httpService.edit==true" class="flaticon-back"></i>
    </button>
    <div class="scheduleMenu">
        <i
        *ngIf="this.storageService.routeName=='Програма' && this.storageService.currentUrl != 'modify-schedule'"
        class="flaticon-edit" (click)="modifySchedule()"></i>
        <!-- <i
        *ngIf="this.storageService.routeName=='Програма'"
        class="flaticon-edit" (click)="modifySchedule()"></i> -->
    </div>
  </div>
  
</div>
<app-navigation id="sidebar-content" [@slideInOut]="menuState" *ngIf="!showNav()"></app-navigation>