<h2 align="center">Login</h2>

  <h3 style="padding-left:10px"></h3>
  <mat-divider></mat-divider>

  <div class="example-container">
    <mat-form-field hintLabel="Max 10 characters">
      <input matInput #username maxlength="10" placeholder="Username">
      <mat-hint align="end">{{username.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 characters">
      <input matInput #password maxlength="10" placeholder="Password">
      <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
      <br>
      <div class="buttons">
          <button (click)="openRegister()" style="color:white;float:left;background-color:lightseagreen" mat-button color="primary">Register</button>
          <button (click)="login()" style="color:white;float:right;background-color:lightseagreen" mat-button color="primary">Login</button>
      </div>
    
  </div>
