<h2 align="center">Login</h2>

  <h3 style="padding-left:10px"></h3>
  <mat-divider></mat-divider>

  <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #input maxlength="10" placeholder="Username">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #input1 maxlength="10" placeholder="Password">
        <mat-hint align="end">{{input1.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      
  <button (click)="log()" style="background-color:lightseagreen" mat-button color="primary">Primary</button>
    
    </div>
