<div class="main scroll">
  <div class="navbar">
    <!-- <app-settings></app-settings> -->
    <app-navigation-desktop class="navbar-content"></app-navigation-desktop>
  </div>
  <div class="desktop-body scroll">
    <!-- <div class="desktop-item scroll">
        <app-home></app-home>
      </div>
    <div class="desktop-item grades scroll">
      <app-report-c></app-report-c>
    </div>
    <div class="desktop-item scroll">
      <app-calendar></app-calendar>
    </div>
    <div class="desktop-item scroll">
      <app-schedule></app-schedule>
    </div> -->
    
    <div class="desktop-item scroll">        
      <router-outlet></router-outlet>
    </div> 

  </div>
</div>