<div class="the-big">
  <div class="container"> 
    <div class="shadow">
      <div class="color">
        <h2 class="register" align="center">Регистрация</h2>
      </div>
      <mat-divider style="margin-bottom:5px"></mat-divider>
      
  <div (input)="checkRegisterValidation()" [formGroup]="registerForm" class="example-container">
      <mat-form-field hintLabel="Между 3 и 16 символа">
        <input formControlName="username" knifeAlphanumeric [(ngModel)]="username" matInput minlength="3" maxlength="16" placeholder="Потребителско име" required>
        <mat-hint align="end">{{username?.length || 0}}/16</mat-hint>
        <mat-error *ngIf="!usernameValid()">{{usernameError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" [(ngModel)]="email" type="email" email matInput maxlength="100" placeholder="Имейл" required>
        <mat-hint align="end">{{email?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="!validateEmail()" >{{emailError}}</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Между 8 и 35 символа">
        <input formControlName="password" [(ngModel)]="password" type="password" knifeNoCopyPaste matInput minlength="8" maxlength="35" placeholder="Парола" required>
        <mat-hint align="end">{{password?.length || 0}}/35</mat-hint>
        <mat-error *ngIf="!validatePassword()" >{{passwordError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="confirmPassword" type="password" [(ngModel)]="confirmPassword" knifeNoCopyPaste matInput minlength="8" maxlength="35" placeholder="Потвърди" required>
        <mat-hint align="end">{{confirmPassword?.length || 0}}/35</mat-hint>
        <mat-error *ngIf="!validateConfirmPassword()" >{{confirmPasswordError}}</mat-error>
      </mat-form-field>
  </div>
  



      <div style="margin-left: 5px;">
          <button 
          *ngIf="this.storageService.fullUrl=='/register'"
          (click)="openLogin()" 
          class="loginBtn"
          mat-button 
          color="primary">Влизане</button>
      </div>
      <div class="buttons" style="float:right">

        <!-- <button 
        *ngIf="this.storageService.fullUrl=='/register'"
        [routerLink]="['/register/subjects']"
        mat-flat-button 
        style="margin-right:5px;background-color:#00C853"
        color="primary">Напред
        </button>
        
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register/schedule-input']"
        mat-flat-button 
        style="margin-right:5px;float:right;background-color:#00C853"
        color="primary">Напред
        </button>
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register']"
        mat-flat-button 
        style="float:right;margin-right:2px;background-color:#00C853"
        color="primary">Назад
        </button>

        <button 
        [routerLink]="['/register/subjects']"
        *ngIf="this.storageService.fullUrl=='/register/schedule-input'"
        mat-flat-button   
        style="margin-right:2px;background-color:#00C853"
        color="primary">Назад
        </button> -->
        <button 
        (click)="register()"
        [disabled]="checkRegisterValidation()"
        mat-flat-button 
        class="registerBtn"
        color="primary">Регистрация
        </button>
      </div>
    </div>
  </div>
</div>
