<div class="the-big">
  <div class="container"> 
    <div class="shadow">
      <div class="color">
        <h2 class="register" align="center">Register</h2>
      </div>
      <mat-divider style="margin-bottom:5px"></mat-divider>
      <router-outlet></router-outlet>

      <div style="margin-left: 5px;">
          <button 
          *ngIf="this.storageService.fullUrl=='/register'"
          (click)="openLogin()" 
          class="loginBtn"
          mat-button 
          color="primary">Login</button>
      </div>
      <div class="buttons" style="float:right">

        <button 
        *ngIf="this.storageService.fullUrl=='/register'"
        [routerLink]="['/register/subjects']"
        mat-flat-button 
        style="margin-right:5px;background-color:#00C853"
        color="primary">Next
        </button>
        
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register/schedule-input']"
        mat-flat-button 
        style="float:right;background-color:#00C853"
        color="primary">Next
        </button>
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register']"
        mat-flat-button 
        style="float:right;margin-right:2px;background-color:#00C853"
        color="primary">Previous
        </button>

        <button 
        [routerLink]="['/register/subjects']"
        *ngIf="this.storageService.fullUrl=='/register/schedule-input'"
        mat-flat-button   
        style="margin-right:2px;background-color:#00C853"
        color="primary">Previous
        </button>
        <button 
        (click)="register()"
        [disabled]="checkRegisterValidation()"
        *ngIf="this.storageService.fullUrl=='/register/schedule-input'"
        mat-flat-button 
        class="registerBtn"
        color="primary">Register
        </button>
      </div>
    <!-- <div 
    [routerLink]="['/register']"
    class="left" 
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">

    <i class="mat-button-wrapper flaticon-arrow-3"></i>
    </div>
    <div 
    [routerLink]="['/register/subjects']"
    class="right" 
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">
    <i class="mat-button-wrapper flaticon-arrow-1"></i>
    </div> -->
    <!-- <br> -->
    <!-- <button 
    [disabled]="this.storageService.fullUrl=='/register'"
    [routerLink]="['/register']"
    mat-flat-button 
    style="margin-right:2px;background-color:lightseagreen"
    color="primary">Previous
    </button> -->
          <!-- <br> -->
        <!-- <h4 align="center">Choose additional subjects</h4> -->

        <!-- <button (click)="log()" style="background-color:lightseagreen" mat-button color="primary">TEST</button> -->
      
        
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field> -->
      
          <!-- <br> -->

        
        <!-- </div> -->
    </div>
  </div>
</div>
