
.mat-dialog-container{
    padding: 0px;
  }

i,div,li:focus{
    outline: 0px;
}
.color {
  background-color: #0589E8;
  color: #eee;
  padding: 1rem;
}

.shadow {
  box-shadow: 1px 1px 1px 1px gray;
  padding-bottom: 2.5rem; 
}

.container {
  width: 100%;
  margin: 0 auto;
  /* background-color: whi; */
}

@media only screen and (min-width: 800px) {
  .container {
    width: 80%;
    margin: 0 auto;
    vertical-align: center;
    padding-top: 15%; 
    /* background-color: white; */
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 60%;
    margin: 0 auto;
    /* background-color: white; */
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 40%;
    margin: 0 auto;
    /* background-color: white; */
  }
}
.color {
  background-color: #0589E8;
  color: #eee;
  padding: 1rem;
}

.the-big {
  height: 100%;
  width: 100%;
  margin:0;
  background-color: #fefefe;
  overflow: hidden;
}