
.mat-dialog-container{
    padding: 0px;
  }

i,div,li:focus{
    outline: 0px;
}
.color {
  background-color: #0589E8;
  color: #eee;
  padding: 1rem;
}

.shadow {
  box-shadow: 1px 1px 1px 1px gray;
  height: 600px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .the-big {
    height: 100%;
    min-height: unset;
  }
  .shadow {
    height: unset;
    padding-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 40%;
    margin: 0 auto;
  }
}
.color {
  background-color: #0589E8;
  color: #eee;
  padding: 1rem;
}

.the-big {
  min-height: 600px;
  width: 100%;
  margin:0;
  background-color: #fefefe;
  overflow: hidden;
  position: relative;
}

.registerBtn{
  margin-right:5px;
  color:white;
  float:right;
  background-color:#00C853;
}
.loginBtn{
  color:white;
  float:left;
  background-color:#00C853;
}