<div class="the-big">
  <div class="container"> 
    <div class="shadow">
      <div class="color">
        <h2 class="register" align="center">Регистрация</h2>
      </div>
      <mat-divider style="margin-bottom:5px"></mat-divider>
      <router-outlet></router-outlet>

      <div style="margin-left: 5px;">
          <button 
          *ngIf="this.storageService.fullUrl=='/register'"
          (click)="openLogin()" 
          class="loginBtn"
          mat-button 
          color="primary">Влизане</button>
      </div>
      <div class="buttons" style="float:right">

        <button 
        *ngIf="this.storageService.fullUrl=='/register'"
        [routerLink]="['/register/subjects']"
        mat-flat-button 
        style="margin-right:5px;background-color:#00C853"
        color="primary">Напред
        </button>
        
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register/schedule-input']"
        mat-flat-button 
        style="margin-right:5px;float:right;background-color:#00C853"
        color="primary">Напред
        </button>
        <button 
        *ngIf="this.storageService.fullUrl=='/register/subjects'"
        [routerLink]="['/register']"
        mat-flat-button 
        style="float:right;margin-right:2px;background-color:#00C853"
        color="primary">Назад
        </button>

        <button 
        [routerLink]="['/register/subjects']"
        *ngIf="this.storageService.fullUrl=='/register/schedule-input'"
        mat-flat-button   
        style="margin-right:2px;background-color:#00C853"
        color="primary">Назад
        </button>
        <button 
        (click)="register()"
        [disabled]="checkRegisterValidation()"
        *ngIf="this.storageService.fullUrl=='/register/schedule-input'"
        mat-flat-button 
        class="registerBtn"
        color="primary">Регистрация
        </button>
      </div>
    </div>
  </div>
</div>
