
.flaticon-checked::before {
    color: green;
}
.title {
    font-size: 1.5rem;
}
.title-box {
    width: 100%;
}

.control {
    /* position: relative; 
    height: 2rem; */
    display: flex;
    justify-content: space-around;
}