[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {
    font-size: 2.5rem;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before{
    margin-right: 5px;
}
[class^="flaticon-"], 
[class*=" flaticon-"]{
    padding-top: 0.3rem;
} 

.header::before{
    background-color: #78C6FF;
}
.header{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "logo";
  /* height: 100%; */
  overflow:auto;
}

.logo{
    grid-area: logo;
    width: 100%;
}

.title {
    display: inline-block;
}
.color {
    background-color: #0589E8;
    color: #eee;
}

.flaticon-menu-button::before{
  margin:0;
}

.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
:host {
  background: #2094e8;
  color: #fff;
  position: fixed;
  right: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



.container {
    margin: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /* height: 100%; */
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    /* grid-template-areas: "schedule calendar home grades settings"; */
}

/* calendar */
.calendar{
    grid-area: calendar;
    /* background-color:red; */
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". cal .";
}
.flaticon-calendar{
    grid-area: cal;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.flaticon-calendar::before{
    align-self: center;
    align-content: center;
    margin-left:0;
}
/* end of calendar */

/* schedule */
.schedule{
    grid-area: schedule;
    /* background-color:red; */
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". sched .";
}
.flaticon-checklist{
    grid-area: sched;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.flaticon-checklist::before{
    align-self: center;
    align-content: center;
    /* text-align: center; */
    margin-left:0;
}

/* end of schedule */

/* home */
.home{
    grid-area: home;
    /* background-color:red; */
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". hom .";
}
.flaticon-home{
    grid-area: hom;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.flaticon-home::before{
    align-self: center;
    align-content: center;
    /* text-align: center; */
    margin-left:0;
}
/* end of home */

/* grades */
.grades{
    grid-area: grades;
    /* background-color:red; */
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". scores .";
}
.flaticon-scores{
    grid-area: scores;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.flaticon-scores::before{
    align-self: center;
    align-content: center;
    /* text-align: center; */
    margin-left:0;
}
/* end of grades */

/* settings */
.settings{
    grid-area: settings;
    /* background-color:red; */
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". sett .";
}
.flaticon-settings-work-tool{
    grid-area: sett;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.flaticon-settings-work-tool::before{
    align-self: center;
    align-content: center;
    /* text-align: center; */
    margin-left:0;
}
/* end of settings */


i,div,li:focus{
    outline: 0px;
}

.color{
    /* background-color: lightskyblue; */
    background-color: #0589E8;
    color: #eee;
}