.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto;
    grid-template-areas:
    "nav"
    "body";
    height: 100%;
    background-color: #fefefe;
    /* overflow: hidden; */
}

.body {
    grid-area: body;
    overflow-y: auto;
}
.navigation {
    grid-area: nav;
    /* height: 0%; */
}

@media only screen and (min-width: 800px) {
    .main {
        display: block;
    }
    .body {
        height: 100%;
        width: 100%;
    }
}
