.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto;
    grid-template-areas:
    "nav"
    "body";
    height: 100%;
    background-color: #fefefe;
    /* overflow: hidden; */
}

.body {
    grid-area: body;
    overflow-y: auto;
}
.navigation {
    grid-area: nav;
    /* height: 0%; */
}

@media only screen and (min-width: 800px) {
    .main {
        display: block;
    }
    .body {
        height: 100%;
        width: 100%;
    }
}


  .container::before{
    background-color: #78C6FF;
}
.container{ 
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}
.color {
    background-color: #2094e8;
    color: #eee;
}

.flaticon-menu-button::before{
  margin:0;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}