<!-- <div class="header">
  <div *ngIf="edit==true" class="cancel" style="margin:0;padding:0">
    <button (click)="cancelEdit()" style="background-color: #00bfff" mat-flat-button>Откажи </button>
  </div>
  <h2 class="title" align="center">Schedule</h2>
  <div class="edit" style="margin:0;padding:0">
    <button *ngIf="edit==false" (click)="editMenu()" style="background-color: #00bfff" mat-flat-button>Промени </button>
    <button *ngIf="edit==true" (click)="saveEdit()" style="background-color: #00bfff" mat-flat-button>Запази </button>
  </div>
</div>  -->

<div class="container">
  <h1 class="title">График</h1>
  <div class="block">
    <i class="flaticon-edit" *ngIf="edit==false" (click)="editMenu()"></i>
    <i class="menu flaticon-menu" *ngIf="edit==true" [matMenuTriggerFor]="menu"></i>
    <mat-menu #menu="matMenu" class="menuItems">
      <div mat-menu-item (click)="cancelEdit()" >
       <i class="flaticon-cancel menuItem"></i><span class="menuItemText">Cancel</span>
      </div>
      <div mat-menu-item (click)="saveEdit()">
        <i class="flaticon-checked menuItem"></i><span class="menuItemText">Save</span>
      </div>
      <div mat-menu-item (click)="addPeriod()">
          <i class="flaticon-add menuItem"></i><span class="menuItemText">Add Item</span>
      </div>
      <div mat-menu-item (click)="sortPeriods(this.currentDay-1)">
          <i class="flaticon-sort-by-attributes-interface-button-option menuItem"></i><span class="menuItemText">Sort</span>
      </div>
      
    </mat-menu>
    <!-- <i class="flaticon-checked" *ngIf="edit==true" (click)="saveEdit()"></i> -->
  </div>
</div>

<mat-divider style="margin-bottom:5px"></mat-divider>

<h4 style="margin:0 0 7px 0" align="center">{{days[currentDay]}}</h4>

<table mat-table [dataSource]="getDataSource()">
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Начало</th>
      <td mat-cell *matCellDef="let subject; index as i">
        <p *ngIf="edit==false">{{subject.startTime}}</p>
          <div *ngIf="edit==true" style="margin:0;padding:0;">
            <input 
            matInput
            [min]="'06:30'" 
            [max]="'20:00'" 
            [format]="24" 
            [ngxTimepicker]="startTime" 
            placeholder="12:00"
            [(ngModel)]="this.httpService.periods[currentDay-1][i].startTime"
            readonly>
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
          </div>
          
    </td>
    </ng-container>
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef>Край</th>
      <td mat-cell *matCellDef="let subject; index as i"> 
        <p *ngIf="edit==false">{{subject.endTime}}</p>
        <div *ngIf="edit==true" style="margin:0;padding:0;">
          <input
          matInput 
          [min]="'06:30'" 
          [max]="'20:00'" 
          [format]="24" 
          [ngxTimepicker]="endTime" 
          placeholder="12:00"
          [(ngModel)]="this.httpService.periods[currentDay-1][i].endTime"
          readonly>
          <ngx-material-timepicker #endTime></ngx-material-timepicker>
        </div>
        
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Предмет</th>
      <td style="width:20%" mat-cell *matCellDef="let subject; index as i"> 
          <p 
          *ngIf="edit==false"
          style="
          padding:0px;
          margin:0px;
          white-space: pre-wrap;     
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap; 
          white-space: -o-pre-wrap;
          word-wrap: break-word;">{{subject.subject}}</p>
        <div *ngIf="edit==true" style="margin:0;padding:0;">
          <mat-select [(ngModel)]="this.httpService.periods[currentDay-1][i].subject">
            <mat-option value="---">---</mat-option>
              <mat-option *ngFor="let singleSubject of this.httpService.allCheckedSubjects" [value]="singleSubject.subject">
                {{singleSubject.subject}}
              </mat-option>
          </mat-select>
        </div>
  
      </td>
    </ng-container>
  
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef style="display:none"></th>
      <td mat-cell *matCellDef="let subject; index as i" style="padding: 0">
        <i 
          *ngIf="edit==true"
          (click)="removePeriod(i)"
          class="flaticon-rubbish-bin"
        >
        </i>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-form-field style="display:none">
  <input matInput>
</mat-form-field>

<div class="nav">
  <!-- <button (click)="previousDay()" mat-button style="grid-area: left;"><</button> -->
  <!-- <button (click)="nextDay()" mat-button style="grid-area: right;">></button> -->
  <i class="flaticon-back left" (click)="previousDay()"></i>
  <i class="flaticon-back right" (click)="nextDay()"></i>
</div>

<div *ngIf="edit==true" class="editMenu">
  

</div>