  <!-- <h3 style="padding-left:10px"></h3> -->

  <div (oninput)="log($event)" class="example-container">
      <mat-form-field hintLabel="Max 10 characters">
        <input [(ngModel)]="getData().username" matInput #username maxlength="10" placeholder="Username">
        <mat-hint align="end">{{username.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input [(ngModel)]="getData().firstname" matInput #firstname maxlength="10" placeholder="First name">
        <mat-hint align="end">{{firstname.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #password maxlength="10" placeholder="Password">
        <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #confirmPassword maxlength="10" placeholder="Confirm password">
        <mat-hint align="end">{{confirmPassword.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
  </div>
  
<div class="buttons" style="float:right">
<button 
*ngIf="this.storageService.fullUrl=='/register'"
[routerLink]="['/register/subjects']"
mat-flat-button 
style="margin-right:5px;background-color:lightseagreen"
color="primary">Next
</button>
</div>

  <!-- <button (click)="saveData()" style="background-color:lightseagreen" mat-button color="primary">Testing2</button> -->
