  <!-- <h3 style="padding-left:10px"></h3> -->

  <div (oninput)="log($event)" class="example-container">
      <mat-form-field hintLabel="Max 10 characters">
        <input [(ngModel)]="getData().username" matInput #username maxlength="100" placeholder="Username">
        <mat-hint align="end">{{username.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input [(ngModel)]="getData().email" matInput #email maxlength="100" placeholder="Email">
        <mat-hint align="end">{{email.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #password maxlength="10" placeholder="Password">
        <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input matInput #confirmPassword maxlength="10" placeholder="Confirm password">
        <mat-hint align="end">{{confirmPassword.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
  </div>
  

  <!-- <button (click)="saveData()" style="background-color:lightseagreen" mat-button color="primary">Testing2</button> -->
