  <!-- <h3 style="padding-left:10px"></h3> -->

  <div (oninput)="log($event)" class="example-container">
      <mat-form-field hintLabel="Потребителското име трябва да е между 3 и 16 символа">
        <input knifeAlphanumeric [(ngModel)]="getData().username" required matInput #username minlength="3" maxlength="16" placeholder="Username">
        <mat-hint align="end">{{username.value?.length || 0}}/16</mat-hint>
        <mat-error *ngIf="!usernameValid()">{{usernameError}}</mat-error>
        <!-- mat error -->
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="getData().email" type="email" email matInput #email maxlength="100" placeholder="Email" required>
        <mat-hint align="end">{{email.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="validateEmail() == false || emailError" >{{emailError}}</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <input knifeNoCopyPaste matInput #password maxlength="10" placeholder="Password">
        <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 35 characters">
        <input matInput #confirmPassword minlength="8" maxlength="35" placeholder="Confirm password">
        <mat-hint align="end">{{confirmPassword.value?.length || 0}}/35</mat-hint>
      </mat-form-field>
  </div>
  

  <!-- <button (click)="saveData()" style="background-color:lightseagreen" mat-button color="primary">Testing2</button> -->
