      <div style="margin-bottom:10px;">
        <!-- <h4 align="center">Choose subjects</h4> -->
        <table mat-table [dataSource]="this.httpService.subjects" >

          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let subject"> 
              <mat-checkbox [(ngModel)]="subject.checked" style="padding: 0; margin: 0">
                {{subject.subject}}
              </mat-checkbox> </td>
          </ng-container>
        
          <ng-container matColumnDef="SIP">
            <th mat-header-cell *matHeaderCellDef> SIP </th>
            <td mat-cell *matCellDef="let subject"> 
                <mat-checkbox [(ngModel)]="subject.SIP" style="padding: 0; margin: 0"></mat-checkbox>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="ZIP">
            <th mat-header-cell *matHeaderCellDef> ZIP </th>
            <td mat-cell *matCellDef="let subject">
                <mat-checkbox [(ngModel)]="subject.ZIP" style="padding: 0; margin: 0"></mat-checkbox>              
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

  
  <button 
  (click)="openDialog()" 
  mat-flat-button 
  style="margin-left:5px;float:left;background-color:lightseagreen" 
  color="primary">Add subjects
  </button>