    /*
    Flaticon icon font: Flaticon
    Creation date: 07/02/2019 08:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home:before { content: "\f100"; }
.flaticon-home-1:before { content: "\f101"; }
.flaticon-settings:before { content: "\f102"; }
.flaticon-settings-work-tool:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-scores:before { content: "\f105"; }
.flaticon-checklist:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-menu-button:before { content: "\f108"; }
    
    $font-Flaticon-home: "\f100";
    $font-Flaticon-home-1: "\f101";
    $font-Flaticon-settings: "\f102";
    $font-Flaticon-settings-work-tool: "\f103";
    $font-Flaticon-calendar: "\f104";
    $font-Flaticon-scores: "\f105";
    $font-Flaticon-checklist: "\f106";
    $font-Flaticon-menu: "\f107";
    $font-Flaticon-menu-button: "\f108";