	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/04/2019 19:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-home:before { content: "\f100"; }
.flaticon-home-1:before { content: "\f101"; }
.flaticon-settings:before { content: "\f102"; }
.flaticon-settings-work-tool:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-scores:before { content: "\f105"; }
.flaticon-checklist:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-menu-button:before { content: "\f108"; }
.flaticon-add:before { content: "\f109"; }
.flaticon-add-1:before { content: "\f10a"; }
.flaticon-cancel:before { content: "\f10b"; }
.flaticon-edit:before { content: "\f10c"; }
.flaticon-edit-1:before { content: "\f10d"; }
.flaticon-checked:before { content: "\f10e"; }
.flaticon-tick-inside-circle:before { content: "\f10f"; }
.flaticon-correct-symbol:before { content: "\f110"; }
.flaticon-rubbish-bin:before { content: "\f111"; }
.flaticon-back:before { content: "\f112"; }
.flaticon-right-arrow:before { content: "\f113"; }
.flaticon-sort-by-attributes-interface-button-option:before { content: "\f114"; }
.flaticon-multiple-users-silhouette:before { content: "\f115"; }
.flaticon-group-of-people-in-a-formation:before { content: "\f116"; }
.flaticon-group:before { content: "\f117"; }
.flaticon-group-1:before { content: "\f118"; }