<h2 align="center">Grades</h2>

<section>
  <h3>This week's grades</h3>
    <section *ngFor="let day of days">
        <h5>{{day.day}}</h5>
        <section *ngFor="let score of day.scores">
            <div >{{score.subject}} - {{score.grade}}</div>
        </section>
    </section>
    
</section>
<mat-divider></mat-divider>
<section>
    <h3>All grades</h3>
    <section>
    <h5>BG</h5>
    <div>
        6
    </div>
    <div>
        5
    </div>
    </section>
    
    <section>
    <h5>German</h5>
    <div>
        6
    </div>
    <div>
        5
    </div>
    </section>

    <section>
    <h5>Math</h5>
    <div>
        6
    </div>
    <div>
        5
    </div>
    </section>

    <section>
    <h5>English</h5>
    <div>
        6
    </div>
    <div>
        5
    </div>
    </section>

</section>

<button mat-flat-button color="primary">View older grades</button>