<div class="container">
    <div>
        <h1 class="title">My grades</h1>
        <i class="menu flaticon-menu" [matMenuTriggerFor]="menu"></i>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="./recent-grades" routerLinkActive="active">Recent grades</button>
            <button mat-menu-item routerLink="year-grades" routerLinkActive="active">This year grades</button>
            <button mat-menu-item routerLink="all-grades" routerLinkActive="active">All grades</button>

            <button mat-menu-item (click)="addGradeDialog()">
                <i class="flaticon-add menuItem"></i><span class="menuItemText">Input Grade</span>
            </button>
        </mat-menu>
    </div>
    <mat-divider style="margin-bottom:5px"></mat-divider>
    <router-outlet></router-outlet>
</div>