.container {
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}
.menu {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}
.active{
    background-color: lightblue;
}