<mat-toolbar color="secondary" class="container">

  <button 
  style="height:100%; border-radius: 0"
  mat-button="" 
  [ngClass]="{
    'color':currentUrl=='schedule'
  }"
  routerLink="/schedule" 
  class="mat-button">
  <i class="mat-button-wrapper flaticon-checklist"></i>
  <div 
  class="mat-button-ripple mat-ripple" 
  matripple="" 
  ng-reflect-centered="false" 
  ng-reflect-disabled="false" 
  ng-reflect-trigger="[object HTMLButtonElement]"
  class="schedule">
  </div>
  <div class="mat-button-focus-overlay"></div>
  </button>

  <button 
  style="height:100%; border-radius: 0"
  mat-button="" 
  [ngClass]="{
    'color':currentUrl=='calendar'
  }"
  routerLink="/calendar" 
  class="mat-button">
  <i class="mat-button-wrapper flaticon-calendar"></i>
  <div 
  class="mat-button-ripple mat-ripple" 
  matripple="" 
  ng-reflect-centered="false" 
  ng-reflect-disabled="false" 
  ng-reflect-trigger="[object HTMLButtonElement]"
  class="calendar">
  </div>
  <div class="mat-button-focus-overlay"></div>
  </button>

  <button 
  style="height:100%; border-radius: 0"
  mat-button="" 
  [ngClass]="{
    'color':currentUrl=='home'
  }"
  routerLink="/home" 
  class="mat-button">  
  <i class="mat-button-wrapper flaticon-home-1"></i>
  <div 
  class="mat-button-ripple mat-ripple" 
  matripple="" 
  ng-reflect-centered="false" 
  ng-reflect-disabled="false" 
  ng-reflect-trigger="[object HTMLButtonElement]"
  class="home">
  </div>
  <div class="mat-button-focus-overlay"></div>
  </button>

  <button 
  style="height:100%; border-radius: 0"
  mat-button="" 
  [ngClass]="{
    'color':currentUrl=='grades'
  }"
  routerLink="/grades" 
  class="mat-button">
  <i class="mat-button-wrapper flaticon-scores"></i>
  <div 
  class="mat-button-ripple mat-ripple" 
  matripple="" 
  ng-reflect-centered="false" 
  ng-reflect-disabled="false" 
  ng-reflect-trigger="[object HTMLButtonElement]"
  class="grades">
  </div>
  <div class="mat-button-focus-overlay"></div>
  </button>

  <button 
  style="height:100%; border-radius: 0"
  mat-button="" 
  [ngClass]="{
    'color':currentUrl=='settings'
  }"
  routerLink="/settings" 
  class="mat-button">
  <i class="mat-button-wrapper flaticon-settings-work-tool"></i>
  <div 
  class="mat-button-ripple mat-ripple" 
  matripple="" 
  ng-reflect-centered="false" 
  ng-reflect-disabled="false" 
  ng-reflect-trigger="[object HTMLButtonElement]"
  class="settings">
  </div>
  <div class="mat-button-focus-overlay"></div>
  </button>

  <!-- -------------------------------------------------- -->

<!--   
  <div routerLink="/schedule" class="schedule" [ngClass]="{
    'color':currentUrl=='schedule'
  }">
    <i class="flaticon-checklist">
    </i>
  </div>
  <div routerLink="/calendar" class="calendar" [ngClass]="{
    'color':currentUrl=='calendar'
  }">
    <i class="flaticon-calendar">
    </i>
  </div>
  <div routerLink="/home" class="home" [ngClass]="{
    'color':currentUrl=='home'
  }">
    <i class="flaticon-home-1"></i>
  </div>
  <div routerLink="/grades" class="grades" [ngClass]="{
    'color':currentUrl=='grades'
  }">
    <i class="flaticon-scores"></i>
  </div>
  <div routerLink="/settings" class="settings" [ngClass]="{
    'color':currentUrl=='settings'
  }">
    <i class="flaticon-settings-work-tool"></i> 
  </div>  -->

</mat-toolbar>
