<div >
    <div style="margin:0; width:100%" class="container">   
        <ng-sidebar-container backdropClass="color" style="width:100%; height: 100vh">
            <ng-sidebar style="width:50%; background-color:#2094e8;" [(opened)]="_opened" 
            mode="over" 
            animate="true" 
            showBackdrop="true" 
            closeOnClickBackdrop="true"
            closeOnClickOutside="true"
            autoFocus="false"
            autoCollapseWidth=100
            >
        
              <p>Sidebar contents</p>
              <p>Sidebar contents</p>
              <p>Sidebar contents</p>
              <p>Sidebar contents</p>
              <p>Sidebar contents</p>
        
            </ng-sidebar>
            
            <!-- Page content -->
            <div class="color" ng-sidebar-content>
              <button class="sidenav-toggle no-hover" mat-button (click)="_toggleSidebar()"><i class="flaticon-menu-button"></i></button>
            <h1 class="title" >Plannerix</h1>
              
            </div>
        
          </ng-sidebar-container> 
      <!-- <h1 class="title" *ngIf="this.storageService.isDesktop()">Накратко</h1> -->
    </div>
  </div>
  