<!-- <br> -->
<!-- [ngClass]="{'heading-margin': this.storageService.fullUrl=='/groups'}" -->
<mat-toolbar 

class="group-heading">
  <mat-toolbar-row>
    <span>My groups</span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let g of userGroups" (click)="selectGroup(g)" class="group">
  <p>{{g.group_name}}</p>
</div>

<mat-toolbar class="group-heading heading-margin">
  <mat-toolbar-row>
    <span>Other groups</span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let gr of otherGroups" class="group">
  <p>{{gr.group_name}}</p>
</div>

<button mat-button (click)="distributeGroups()">Distribute groups</button>
<button mat-button [routerLink]="['/desktop/groups/singleGroup']" >Test</button>