<div *ngIf="this.storageService.isDesktop()" class="color">
    <div class="container">
      <!-- <h1 class="title" *ngIf="!this.storageService.isDesktop()">Plannerix</h1> -->
    <h1 class="title">Групи</h1>
    </div>
</div>
<!-- <br> -->
<!-- [ngClass]="{'heading-margin': this.storageService.fullUrl=='/groups'}" -->
<mat-toolbar 
class="group-heading">
  <mat-toolbar-row>
    <span>Моите групи</span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let g of userGroups" (click)="selectGroup(g)" class="group">
  <p>{{g.group_name}}</p>
</div>

<mat-toolbar class="group-heading heading-margin">
  <mat-toolbar-row>
    <span>Други групи</span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let gr of otherGroups" (click)="selectGroup(gr)" class="group">
  <p>{{gr.group_name}}</p>
</div>
<div *ngIf="this.otherGroups.length == 0 && this.userGroups.length == 0" class="groupMsg">
  <p style="color: gray">Нямате групи</p>
</div>

<!-- <button mat-button (click)="distributeGroups()">Distribute groups</button> -->
<br>
<button mat-button style="margin-left: 15px; background-color: #2094e8; color: white" (click)="openDialog()" >Създай група</button>