.group-heading{
    /* margin-top: 1.5rem; */
    color: white;
    background-color: #0589E8;
    /* background-color: #00ADF4; */
    background-color: #00A3E8;
    /* background-color: #03AFF1; */
}
.group{
    margin-left: 1rem;
}
.heading-margin{
    margin-top: 1.5rem;
}