<div class="color">
  <div class="container">
    <h1 class="title">График</h1>
    <div class="block">
      <i class="flaticon-add-1" (click)="addEvent()"></i>
      <!-- <i class="flaticon-edit" *ngIf="edit==false" (click)="editMenu()"></i>
        <i class="flaticon-cancel" *ngIf="edit==true" (click)="cancelEdit()"></i>
        <i class="flaticon-checked" *ngIf="edit==true" (click)="saveEdit()"></i> -->
      </div> 
    </div>
  </div>
<mat-divider style="margin-bottom:5px"></mat-divider>
<app-events style="z-index: auto" [events]="this.httpService.events" [editable]="true"></app-events>



<button class="editButton" style="float: right;" mat-mini-fab color="primary">
  <i class="menu flaticon-menu" [matMenuTriggerFor]="menu">
    
  </i>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item >Test1</button>
    <button mat-menu-item >Test2</button>
    <button mat-menu-item >Test3</button>
    
</mat-menu>