<div *ngIf="this.storageService.isDesktop()" class="color">
  <div class="container">
    <h1 class="title">График</h1>
    <div class="block">
      <i class="flaticon-add-1" (click)="addEvent()"></i>
      
      </div> 
    </div>
  </div>
<mat-divider style="margin-bottom:5px"></mat-divider>
<app-events style="z-index: auto" [events]="this.httpService.events" [editable]="true"></app-events>

<button *ngIf="this.httpService.edit == true" (click)="addEvent()" class="editButton" mat-mini-fab color="primary">
  <i class="menu flaticon-add-1">
    
  </i>
</button>