.lesson {
    font-size: 1.5rem;
    margin-bottom: 0;
}
section{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.container{ 
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}