<div *ngIf="this.storageService.isDesktop()" class="color">
  <div class="container">
    <!-- <h1 class="title" *ngIf="!this.storageService.isDesktop()">Plannerix</h1> -->
    <h1 class="title">Накратко</h1>
  </div>
</div>
<mat-divider style="margin-bottom:5px"></mat-divider>
<section class="next-lesson">
  <h3>Следващ час:</h3>
  <p class="lesson">{{nextLesson}} в {{lessonTime}} ч.</p>
</section>
<mat-divider></mat-divider>
<section>
  <h3>За тази седмица:</h3>
</section>
<!-- TODO: make a component that displays test given an array -->
<app-events [events]="events"></app-events>