.lesson {
    font-size: 1.5rem;
    margin-bottom: 0;
}
section{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.container::before{
    background-color: #78C6FF;
}
.container{ 
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}
.color {
    background-color: #0589E8;
    /* background-color: #2094e8; */
    color: #eee;
}