<div class="container">
  <h1 class="show-on-mobile">Plannerix</h1>
</div>
<mat-divider style="margin-bottom:5px"></mat-divider>
<section class="next-lesson">
  <h3>Next period:</h3>
  <p class="lesson">{{nextLesson}}</p>
</section>
<mat-divider></mat-divider>
<section>
  <h3>Today's grades</h3>
  <app-grades [grades]="grades"></app-grades>
  <!-- TODO: add a button that adds grades -->
</section>
<mat-divider></mat-divider>
<section>
  <h3>This week's tests</h3>
</section>
<!-- TODO: make a component that displays test given an array -->
<app-events [events]="events"></app-events>