<h2 mat-dialog-title>Add a Subject</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput #input [formControl]="name">
    <mat-error *ngIf="name.invalid">Моля поставете име</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let addition of additions" selectable="true"
                 removable="true" (removed)="remove(addition)">
          {{addition}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Разновидности - като СИП, ЗИП"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               matChipInputAddOnBlur="true"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button (click)="addAndClose()">Yes</button>
</mat-dialog-actions>