<div class="color">
    <!-- <h1 align="center">Plannerix</h1> -->
    <!-- for ng b -->
    <img *ngIf="this.storageService.isDesktop()" align="center" style="width: 97%" src="assets/logo/plannerixLogo.png">
    <!-- <img *ngIf="this.storageService.isDesktop()" align="center" style="width: 97%" src="../../assets/plannerixLogo.png"> -->
    <h2 *ngIf="!this.storageService.isDesktop()" align="center">Profile</h2>
</div>
<div class="main-body">
  <section style="padding-left:10px">
      <h4>Martin Kowalski XI a klas</h4>  
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore culpa sequi magni debitis consectetur. Quia, quas iste rem totam ratione culpa ullam vitae, officia tempore itaque saepe tenetur, quasi facere.</p>
    </section>
    <mat-divider></mat-divider>
    <section >
      <button 
      style="float: left; width:100%; border-bottom: thin solid lightgray" 
      type="button" 
      mat-button color="primary">
      <p style="margin:0px;padding:0px;float: left">Edit profile</p></button>
      <button 
      style="float: left; width:100%; border-bottom: thin solid lightgray" 
      type="button" 
      mat-button color="primary">
      <p style="margin:0px;padding:0px;float: left">Notification settings</p></button>
      <button 
      (click)="logout()"
      style="float: left; width:100%; border-bottom: thin solid lightgray" 
      type="button" 
      mat-button color="warn">
      <p style="margin:0px;padding:0px;float: left">Log out</p></button>
    </section>
</div>