.color {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    background-color: #0589E8;
    /* background-color: #2094e8; */
    /* padding: 0; */
    color: #eee;
}
.main-body {
    padding: 1rem;
    /* background-image: linear-gradient(#0488E8, white) */
}
.container{ 
    width: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}
.section{
    margin-bottom: 5px;
}