<div class="color">
    <!-- <h1 align="center">Plannerix</h1> -->
    <!-- for ng b -->
    <img *ngIf="this.storageService.isDesktop()" align="center" style="width: 97%" src="assets/logo/plannerixLogo.png">
    <!-- <img *ngIf="this.storageService.isDesktop()" align="center" style="width: 97%" src="../../assets/plannerixLogo.png"> -->
    <h1 *ngIf="!this.storageService.isDesktop()" >Profile</h1>
</div>
<div class="main-body">
  <section style="padding-left:10px">
      <h4>Kowalski Martin XI a klas</h4>  
  </section>
  <mat-divider></mat-divider>
  <section >
    <button 
    style="float: left; width:100%; border-bottom: thin solid lightgray" 
    type="button" 
    mat-button color="primary">
    <p style="margin:0px;padding:0px;float: left">Edit profile</p></button>
    <button 
    style="float: left; width:100%; border-bottom: thin solid lightgray" 
    type="button" 
    mat-button color="primary">
    <p style="margin:0px;padding:0px;float: left">Notification settings</p></button>
    <button 
    (click)="logout()"
    style="float: left; width:100%; border-bottom: thin solid lightgray" 
    type="button" 
    mat-button color="warn">
    <p style="margin:0px;padding:0px;float: left">Log out</p></button>
  </section>
</div>